<template>
    <div class="admin">
        Welcome

        You can edit:<br>
        <router-link to="/admin/subjects">Subjects</router-link><br>
        <router-link to="/admin/users">Users</router-link>
    </div>
</template>

<script>
    export default {
        name: "Admin"
    }
</script>

<style scoped>

</style>
