<template>
    <div>
        Name: <input v-model="subject.name"><br>
        shortName: <input v-model="subject.shortName"><br>
        color: <input type="color" v-model="subject.color"><br>
        <button @click="save">Create</button>
    </div>
</template>

<script>
    import createOneSubject from "@/gql/createOneSubject.graphql"

    export default {
        name: "EditSubject",
        data() {
            return {
                subject: {
                    name: '',
                    color: '#4287f5',
                    shortName: ''
                }
            }
        },
        methods: {
            async save() {
                const res = await this.$apollo.mutate({
                    mutation: createOneSubject, variables: {
                        data: this.subject
                    }
                });
                await this.$apolloProvider.defaultClient.cache.reset();
                await this.$router.push(`/admin/subjects/${res.data.createOneSubject.id}`)
            }
        }
    }
</script>

<style scoped>

</style>
