<template>
    <div>
        <div class="loader" v-if="$apollo.loading">Loading...</div>
        <div v-else>
            id: {{subject.id}}<br>
            name: <input v-model="subject.name"><br>
            shortName: <input v-model="subject.shortName"><br>
            color: <input type="color" v-model="subject.color"><br>
            <button @click="save">Save</button>
        </div>
    </div>
</template>

<script>
    import getSubject from "@/gql/getSubject.graphql"
    import updateOneSubject from "@/gql/updateOneSubject.graphql"

    export default {
        name: "EditSubject",
        methods: {
            async save() {

                await this.$apollo.mutate({
                    mutation: updateOneSubject, variables: {
                        id: this.subject.id,
                        data: this.subject
                    }
                });
                await this.$apolloProvider.defaultClient.cache.reset();
                await this.$router.push('/admin/subjects')
            }
        },
        apollo: {
            subject() {
                return {
                    query: getSubject,
                    variables: {
                        id: this.$route.params.id
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>
