<template>
    <div class="subjects">
        Search: <input v-model="search"/>
        <div class="subject" v-for="sub in searchedSubjects" :key="sub.id">
            shortName: {{sub.shortName}}<br>
            name: {{sub.name}}<br>
            color: {{sub.color}}<br>
            <router-link :to="`/admin/subjects/${sub.id}`">Edit</router-link>
            <br>
            <br>
            <br>
        </div>

        <router-link :to="`/admin/subjects/create`">Create New</router-link>
    </div>
</template>

<script>
    import getSubjects from '@/gql/getSubjects.graphql'

    export default {
        name: "Subjects",
        data() {
            return {
                search: ''
            }
        },
        computed: {
            searchedSubjects() {
                if (!this.subjects) return [];
                if (this.search === '') return this.subjects;
                return this.subjects.filter(s =>
                    s.name.toLowerCase().includes(this.search.toLowerCase()) ||
                    s.shortName.toLowerCase().includes(this.search.toLowerCase())
                )
            }
        },
        apollo: {
            subjects: {
                query: getSubjects
            }
        }
    }
</script>

<style scoped>

</style>
