<template>
    <v-app>
        <v-app-bar
            app
            color="primary"
            dark
        >
            <div class="d-flex align-center">
              <router-link to="/">
                <v-img
                    alt="Vuetify Logo"
                    contain
                    src="../src/assets/htl22.png"
                    width="60"
                />
              </router-link>
                <h1>SLWA</h1>
            </div>
            <v-spacer></v-spacer>
            <v-row justify="end">
                <router-link to="/">
                  <v-btn class="bt">
                    Home
                  </v-btn>
                </router-link>
                <router-link to="/login" v-if="!loggedIn">
                  <v-btn class="bt">
                    Login
                    </v-btn>
                </router-link>
                <a @click="logout" v-else>
                    <v-btn class="bt">Logout</v-btn>
                </a>
                <router-link to="/admin" v-if="isAdmin">
                    <v-btn class="bt">
                        Admin
                    </v-btn>
                </router-link>
            </v-row>
        </v-app-bar>
        <v-content>
            <router-view/>
        </v-content>
    </v-app>
</template>

<script type="text/babel">

    import {authService} from "@/main";

    export default {
        name: 'App',
        components: {},
        computed: {
            loggedIn() {
                return this.$store.state.loggedIn
            },
            isAdmin() {
                return this.$store.state.isAdmin
            }
        },
        methods: {
            logout() {
                authService.logout();
            }
        },
    };
</script>

<style scoped lang="sass">
    .bt
        margin: 10px
        margin-top: 1px

        h1
            font-size: 60px
</style>
