<template>
    <div class="createUser">
        Email: <input v-model="user.email"/><br>
        Password: <input v-model="user.password"/><br>
        Rolle:
        <select v-model="user.role">
            <option>TEACHER</option>
            <option>ADMIN</option>
        </select><br>
        <button @click="save">Save</button>
    </div>
</template>

<script>
    import createOneUser from '@/gql/createOneUser.graphql'
    export default {
        name: "CreateUser",
        data() {
            return {
                user: {
                    email: '',
                    password: '',
                    role: ''
                }
            }
        },
        methods: {
            async save() {
                const res = await this.$apollo.mutate({mutation: createOneUser, variables: {data: this.user}});
                await this.$router.push('/admin/users/' + res.data.createOneUser.id)
            }
        }
    }
</script>

<style scoped>

</style>
