<template>
    <div class="createUser" v-if="user">
        Id: {{user.id}}<br>
        Email: <input v-model="user.email"/><br>
        Password: <input v-model="user.password"/><br>
        Rolle:
        <select v-model="user.role">
            <option>TEACHER</option>
            <option>ADMIN</option>
        </select><br>
        TeacherID: <input v-model="user.teacher.id"/><br>
        <button @click="save">Create</button>
    </div>
    <div class="loading" v-else>
        Loading...
    </div>
</template>

<script>
    import getUser from '@/gql/getUser.graphql'
    import updateOneUser from '@/gql/updateOneUser.graphql'
    export default {
        name: "EditUser",
        methods: {
            async save() {
                const data = this.user;
                const teacher = this.user.teacher;
                delete data['teacher'];

                await this.$apollo.mutate({mutation: updateOneUser, variables: {data: this.user, id: this.user.id, teacherId: teacher.id}});
                await this.$router.push('/admin/users/');
                this.$apollo.queries.user.refresh()
            }
        },
        apollo: {
            user() {
                return {
                    query: getUser,
                    variables: {
                        id: this.$route.params.id
                    },
                    update: data => {
                        if (!data.user.teacher) data.user.teacher = {id: ''};
                        return data.user
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>
