<template>
    <div class="users">
        <div class="user" v-for="user in users" :key="user.id">
            ID: {{user.id}}<br>
            Email: {{user.email}}<br>
            <router-link :to="'/admin/users/' + user.id">Edit</router-link><br>
            <br>
        </div>
        <router-link to="/admin/users/create">New User</router-link><br>
    </div>
</template>

<script>
    import getUsers from '@/gql/getUsers.graphql'

    export default {
        name: "Users",
        apollo: {
            users: getUsers
        }
    }
</script>

<style scoped>

</style>
