<template>
    <div>
        id: {{teacher.id}} <br>
        name: <input v-model="teacher.name"/> <br>
        shortName: <input v-model="teacher.shortName"/> <br>
        email: <input v-model="teacher.email"/> <br>
        classBoard: <input v-model="teacher.classBoard"/> <br>
        room: <input v-model="teacher.room"/> <br>
        subjects: <br>
        <button @click="save">Save</button>
    </div>
</template>

<script>
    import getTeacher from "@/gql/getTeacher.graphql";
    import updateOneTeacher from "@/gql/updateOneTeacher.graphql"

    export default {
        name: "EditTeacher",
        methods: {
            async save() {
                const data = this.teacher;
                delete data['subjects'];
                delete data['certifications'];
                await this.$apollo.mutate({
                    mutation: updateOneTeacher, variables: {
                        id: this.teacher.id,
                        data
                    }
                });
                await this.$apolloProvider.defaultClient.cache.reset();
                await this.$router.push('/')
            }
        },
        apollo: {
            teacher() {
                return {
                    query: getTeacher,
                    variables: {
                        id: this.$route.params.id
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>
