<template>
    <div>
        <h1 v-if="email">Hello {{email}}!</h1>
        <v-container fill-height fluid>
            <v-row align="center" justify="center">
                <v-card class="title">
                    <h1>All important information about your teachers!</h1>
                    <v-card-title>
                        Teachers
                        <v-spacer></v-spacer>
                        <v-text-field
                            v-model="search"
                            append-icon="mdi-magnify"
                            label="Search"
                            single-line
                            hide-details
                        ></v-text-field>
                    </v-card-title>
                    <v-data-table
                        :headers="headers"
                        :items="teachers"
                        @click:row="handleClick"
                        :search="search"
                        :options.sync="options"
                        :server-items-length="serverItems"
                        :loading="loading"
                    ></v-data-table>
                </v-card>
            </v-row>
        </v-container>
    </div>
</template>

<script>
    import getTeachers from '@/gql/getTechers.graphql'

    export default {
        name: "Home",
        data() {
            return {
                options: {
                    itemsPerPage: 10,
                    page: 1
                },
                search: '',
                searching: false,
                searchingTimeout: undefined,
                serverItems: 0,
                headers: [
                    {
                        text: 'Name',
                        align: 'start',
                        sortable: false,
                        value: 'name',
                    },
                ]
            }
        },
        apollo: {
            teachers() {
                return {
                    query: getTeachers,
                    update: a => {
                        this.serverItems = a.meta;
                        return a.teachers;
                    },
                    variables: {first: 10, skip: 0}
                }
            }
        },
        computed: {
            loading() {
                return this.$apollo.loading || this.searching
            },
            email() {
                return this.$store.state.email
            }
        },
        watch: {
            options: {
                deep: true,
                handler(newV, oldV) {
                    if (oldV.page === newV.page) return;
                    this.refresh()
                }
            },
            search(n, o) {
                if (n !== o) {
                    if (this.searchingTimeout) clearTimeout(this.searchingTimeout);
                    this.options.page = 1;
                    this.searching = true;
                    this.searchingTimeout = setTimeout(() => {
                        this.searchingTimeout = undefined;
                        this.refresh();
                        this.searching = false;
                    }, 300);
                }
            }
        },
        methods: {
            refresh() {
                this.$apollo.queries.teachers.refetch({first: this.options.itemsPerPage, skip: (this.options.page-1) * this.options.itemsPerPage, search: this.search});
            },
            handleClick(e) {
                this.$router.push("/teacher/" + e.id);
            }
        },
        mounted() {
            //this.refresh();
        }
    }
</script>

<style scoped lang="sass">
    h1
        margin: 30px

    .title
        margin: 30px
</style>
