<template>
    <v-container fill-height fluid>
  <v-row align="center" justify="center"
      >

    <v-card class="login-kicker">
       <v-form>
           <v-text-field v-model="email"
            label="E-Mail"
          ></v-text-field>

          <v-text-field v-model="password" type="password"
            label="Password"
          ></v-text-field>
       </v-form>
       <v-row justify="end" >
    <v-btn color="primary" text>
           Forgot password?
       </v-btn>
       <v-btn color="primary" text @click="login">
           Login
       </v-btn>
       </v-row>
    </v-card>
  </v-row>
</v-container>

</template>

<script>
import {authService} from "@/main";

export default {
    name: "login",
    data() {
        return {
            email: '',
            password: ''
        }
    },
    methods: {
        async login() {
            await authService.login(this.email, this.password);
            await this.$router.push("/");
        }
    }
}
</script>

<style scoped lang="sass">
    .login-kicker
        padding: 50px
        max-width: 500px
    .d-sm-flex
        max-width: 300px

    .d-sm-flex
        max-width: 300px
</style>
