<template>
    <div v-if="teacher">
        <v-card class="flex">
            <v-container
                fill-height
                fluid
                grid-list-xl>
                <v-layout
                    justify-center
                    wrap
                >
                    <v-flex
                        xs12
                        md8
                    >
                        <v-avatar
                            slot="offset"
                            class="mx-auto d-block"
                            size="200"
                        >
                            <img
                                src="https://picsum.photos/536/354"
                            >
                        </v-avatar>
                        <v-card-text class="text-xs-center">
                            <v-chip
                                class="ma-2"
                                :color="f.color"
                                v-for="f in teacher.subjects" :key="f.id"
                            >
                                {{f.shortName}}
                            </v-chip>

                            <p v-if="isAdmin">Nutze die Admin macht und bearbeite den User
                                <router-link :to="editRoute">Edit</router-link>
                            </p>
                            <p v-if="isSelf"> Das bist du! Bearbeiten</p>
                        </v-card-text>
                    </v-flex>
                    <v-flex
                        xs12
                        md8
                    >
                        <v-form>
                            <v-container py-0>
                                <v-layout wrap>
                                    <v-flex
                                        xs12
                                        md11
                                    >
                                        <v-card>
                                            <v-card-title>
                                                Name
                                            </v-card-title>
                                            {{teacher.name}}
                                        </v-card>
                                    </v-flex>
                                    <!-- <v-flex
                                         xs12
                                         md5
                                     >
                                          <v-card>
                                             <v-card-title>
                                                 Nachname
                                             </v-card-title>
                                             Nachname
                                         </v-card>
                                     </v-flex>-->
                                    <v-flex
                                        xs12
                                        md11
                                    >
                                        <v-card>
                                            <v-card-title>
                                                Email
                                            </v-card-title>
                                            {{teacher.email}}
                                        </v-card>
                                    </v-flex>
                                    <v-flex
                                        xs12
                                        md6
                                    >
                                        <v-card>
                                            <v-card-title>
                                                Sprechstunde
                                            </v-card-title>
                                            {{teacher.consultationHours}}
                                        </v-card>
                                    </v-flex>
                                    <v-flex
                                        xs12
                                        md5
                                    >
                                        <v-card>
                                            <v-card-title>
                                                Raumnummer
                                            </v-card-title>
                                            {{teacher.room}}
                                        </v-card>
                                    </v-flex>
                                    <v-flex
                                        xs12
                                        md5
                                    >
                                        <v-card>
                                            <v-card-title>
                                                Klassenvorstand
                                            </v-card-title>
                                            {{teacher.classBoard}}
                                        </v-card>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-form>

                    </v-flex>

                </v-layout>

            </v-container>
        </v-card>
    </div>
</template>

<script>
    import getTeacher from '@/gql/getTeacher.graphql'

    export default {
        computed: {
            isAdmin() {
                return this.$store.state.isAdmin
            },
            isSelf() {
                if (!this.teacher.user) return false;
                return this.$store.state.userId === this.teacher.user.id;
            },
            editRoute() {
                return this.$router.currentRoute.path + '/edit'
            }
        },
        apollo: {
            teacher() {
                return {
                    query: getTeacher,
                    variables: {
                        id: this.$route.params.id
                    }
                }
            }
        }
    }
</script>


<style scoped lang="sass">
    .test
        background: gray

        .flex
            display: flex
            justify-content: space-between
</style>
